<footer>
  <div class="footer-wrapper">
    <table id="footer-table" style="width: 99%;  margin-left: 10px;" cellspacing="0" cellpadding="0">
      <tr>
        <td style="vertical-align: top;" class="lineh">&nbsp;</td>
      </tr>
      <tr>
        <td style="vertical-align: top;" class="footerlinks">
          <span>
            &copy; Copyright {{ site.time | date: '%Y' }} {{ site.name }}. All rights reserved.
          </span>
          <span>
            Phone: {{ site.phone }}
          </span>
          <span>
            Fax: {{ site.fax }}
          </span>
          <a href="mailto:{{ site.email }}">
            {{ site.email }}
          </a>
        </td>
      </tr>
    </table>
  </div>
</footer>
