<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <title>Apartment Lines</title>


  <!-- Facebook OpenGraph -->
  <meta property="og:url" content="http://www.apartmentlines.com" />
  <meta property="og:site_name" content="Apartment Lines" />
  <meta property="og:title" content="Answering Service for Apartment Communities Coast-to-Coast" />
  <meta property="og:description" content="Apartment Lines covers your office phones whenever you cannot answer them personally. Our cutting-edge, custom-built service can help you lease more apartments, retain more residents, and optimize your maintenance work. With over 20 years experience in combined live operator and electronic answering, Apartment Lines is a leader in property management telecommunications." />
  <meta property="og:image" content="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/al-opengraph.jpg" />

  <!-- Android: Chrome M31 and up -->
  <link href="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/icon-192x192.png" sizes="192x192" rel="icon" />

  <!-- iOS -->
  <link href="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/apple-touch-icon-180x180-precomposed.png" sizes="180x180" rel="apple-touch-icon" />
  <link href="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/apple-touch-icon-152x152-precomposed.png" sizes="152x152" rel="apple-touch-icon" />
  <link href="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/apple-touch-icon-144x144-precomposed.png" sizes="144x144" rel="apple-touch-icon" />
  <link href="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/apple-touch-icon-120x120-precomposed.png" sizes="120x120" rel="apple-touch-icon" />
  <link href="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon" />
  <link href="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/apple-touch-icon-76x76-precomposed.png" sizes="76x76" rel="apple-touch-icon" />
  <link href="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon" />
  <link href="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/apple-touch-icon-60x60-precomposed.png" sizes="60x60" rel="apple-touch-icon" />
  <link href="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/apple-touch-icon-57x57-precomposed.png" sizes="57x57" rel="apple-touch-icon" />
  <link href="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/images/apple-touch-icon-precomposed.png" rel="apple-touch-icon" />


  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="http://www.apartmentlines.com/sites/all/themes/apartmentlines2/pngfix.js"></script>
    <![endif]-->

  <style type="text/css" media="all">@import "/assets/css/apartmentlines.css";</style>
  <style type="text/css" media="all">@import "/assets/css/font-awesome.min.css";</style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
  <script type="text/javascript" src="/assets/js/main.js"></script>
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}

</head>
