@charset "utf-8";

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

ul {
	list-style-type: none;
}

li.leaf {
	list-style-type: square;
    list-style-image: url(../images/menu-leaf.png);
    padding: 0.2em 0.5em 0 0;
}

li.collapsed {
	list-style-type: disc;
    list-style-image: url(../images/menu-collapsed.png);
    padding: 0.2em 0.5em 0 0;
}

.hierachy {
	border-top: 1px solid #eceff1;
    padding: 1em 0 1.25em 2em;
}

// Import partials.
@import
  "apartmentlines/base"
;
